* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
  font-family: 'Patrick Hand', cursive;
  font-size: 55px;
  color: #fff;
  text-align: center;
}

.wrapper {
    max-width: 1980px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    background: url(../assets/home.png) no-repeat;
}


.h-text {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}

.ancients-container {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    transition: 0.4s;
    
}
.ancients-choice-flex {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    transition: 0.4s; 
}


.ancients-choice1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    transition: 0.4s; 
}

.ancients-choice2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    transition: 0.4s; 
}

.ancient-Abhoth {
    width: 150px;
    height: 180px;
    background-size: 100% 100%;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(../assets/Ancients/Abhoth.jpg);
    border-radius: 10px;
}

.ancient-Abhoth:hover {
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}

.ancient-Antediluvium {
    width: 150px;
    height: 180px;
    background-size: 100% 100%;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(../assets/Ancients/Antediluvium.jpg);
    border-radius: 10px;
}

.ancient-Antediluvium:hover {
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}

.ancient-AtlachNacha {
    width: 150px;
    height: 180px;
    background-size: 100% 100%;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(../assets/Ancients/AtlachNacha.jpg);
    border-radius: 10px;
}

.ancient-AtlachNacha:hover {
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}

.ancient-Azathoth {
    width: 150px;
    height: 180px;
    background-size: 100% 100%;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(../assets/Ancients/Azathoth.jpg);
    border-radius: 10px;
}

.ancient-Azathoth:hover {
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}


.ancient-Cthulthu {
    width: 150px;
    height: 180px;
    background-size: 100% 100%;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(../assets/Ancients/Cthulthu.jpg);
    border-radius: 10px;
}

.ancient-Cthulthu:hover {
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}

.ancient-Hastur {
    width: 150px;
    height: 180px;
    background-size: 100% 100%;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(../assets/Ancients/Hastur.jpg);
    border-radius: 10px;
}

.ancient-Hastur:hover {
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}

.ancient-Hypnos {
    width: 150px;
    height: 180px;
    background-size: 100% 100%;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(../assets/Ancients/Hypnos.jpg);
    border-radius: 10px;
}

.ancient-Hypnos:hover {
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}

.ancient-IogSothoth {
    width: 150px;
    height: 180px;
    background-size: 100% 100%;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(../assets/Ancients/IogSothoth.jpg);
    border-radius: 10px;
}

.ancient-IogSothoth:hover {
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}

.ancient-Ithaqua {
    width: 150px;
    height: 180px;
    background-size: 100% 100%;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(../assets/Ancients/Ithaqua.jpg);
    border-radius: 10px;
}

.ancient-Ithaqua:hover {
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}

.ancient-NephrenKa {
    width: 150px;
    height: 180px;
    background-size: 100% 100%;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(../assets/Ancients/NephrenKa.jpg);
    border-radius: 10px;
}

.ancient-NephrenKa:hover {
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}

.ancient-Nyarlathotep {
    width: 150px;
    height: 180px;
    background-size: 100% 100%;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(../assets/Ancients/Nyarlathotep.jpg);
    border-radius: 10px;
}

.ancient-Nyarlathotep:hover {
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}

.ancient-RiseOfTheElderThings {
    width: 150px;
    height: 180px;
    background-size: 100% 100%;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(../assets/Ancients/RiseOfTheElderThings.jpg);
    border-radius: 10px;
}

.ancient-RiseOfTheElderThings:hover {
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}

.ancient-ShubNiggurath {
    width: 150px;
    height: 180px;
    background-size: 100% 100%;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(../assets/Ancients/ShubNiggurath.jpg);
    border-radius: 10px;
}

.ancient-ShubNiggurath:hover {
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}

.ancient-ShuddeMell {
    width: 150px;
    height: 180px;
    background-size: 100% 100%;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(../assets/Ancients/ShuddeMell.jpg);
    border-radius: 10px;
}

.ancient-ShuddeMell:hover {
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}

.ancient-Syzygy {
    width: 150px;
    height: 180px;
    background-size: 100% 100%;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(../assets/Ancients/Syzygy.jpg);
    border-radius: 10px;
}

.ancient-Syzygy:hover {
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}

.ancient-Yig {
    width: 150px;
    height: 180px;
    background-size: 100% 100%;
    opacity: 0.6;
    cursor: pointer;
    background-image: url(../assets/Ancients/Yig.jpg);
    border-radius: 10px;
}

.ancient-Yig:hover {
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}

.active {
    width: 475px;
    height: 630px;
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}

.active-post {
    width: 475px;
    height: 630px;
    opacity: 1;
}

.ancients-close {
    display: none;
    position: relative;
    top: 15px;
    width: 100px;
    height: 100px;
    opacity: 0.5;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.ancients-close:before,
  .ancients-close:after {
    position: absolute;
    bottom: 1px;
    content: ' ';
    height: 100px;
    width: 2px;
    background-color: #333;
  }
  
  .ancients-close:before {
    transform: rotate(45deg);
  }
  
  .ancients-close:after {
    transform: rotate(-45deg);
  }


.button-change {
    visibility: visible;
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
    font-size: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    background-color: #fff;
    opacity: 0.6;
    border-radius: 11px;
    color: black;
}

.button-change-active {
    opacity: 1;
    cursor: pointer;
}

.diff-container {
    display: none;
    max-width: 537px;
    height: 360px;
    margin-left: 250px;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    font-size: 28px;
}

.diff-0 {
    height: 50px;
}


.diff-0:hover {
    color: rgb(255,255,255);
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    cursor: pointer;
    opacity: 1;
    transition: 0.4s;
}

.diff-1 {
    height: 50px;
}

.diff-1:hover  {
    color: rgb(255,200,200);
    border: 1px solid rgb(255,200,200);
    box-shadow:0 0 20px #555;
    cursor: pointer;
    opacity: 1;
    transition: 0.4s;
}

.diff-2 {
    height: 50px;
}

.diff-2:hover {
    color: rgb(255,150,150);
    border: 1px solid rgb(255,150,150);
    box-shadow:0 0 20px #555;
    cursor: pointer;
    opacity: 1;
    transition: 0.4s;
}

.diff-3 {
    height: 50px;
}

.diff-3:hover {
    color: rgb(255,100,100);
    border: 1px solid rgb(255,100,100);
    box-shadow:0 0 20px #555;
    cursor: pointer;
    opacity: 1;
    transition: 0.4s;
}

.diff-4 {
    height: 50px;
}

.diff-4:hover {
    color: rgb(255,50,50);
    border: 1px solid rgb(255,50,50);
    box-shadow:0 0 20px #555;
    cursor: pointer;
    opacity: 1;
    transition: 0.4s;
}


.diff-active {
    color: rgb(255,255,255);
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    cursor: pointer;
    opacity: 1;
    transition: 0.4s;
}

.card-container {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    max-width: 600px;
    height: 100px;
    margin-left: 50px;
    font-size: 40px;
    transition: 0.4s;
}

.card-flex {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin: 10px;
}

.card-forms {
    width: 50px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
}

.green {
    background-color: green;
}

.red {
    background-color: brown;
}

.blue {
    background-color: blue;
}


.card-full {
    display: none;
    width: 475px;
    height: 630px;
    cursor: pointer;
    background-size: 100% 100%;
    background-image: url(../assets/mythicCardBackground.png);
    border-radius: 10px;
    transition: 0.4s;
}

.card-full:hover{
    border: 1px solid #fff;
    box-shadow:0 0 20px #555;
    opacity: 1;
    transition: 0.4s;
}


@media all and (min-width: 320px) and (max-width: 800px){

body {
    font-size: 20px;
}

.h-text {
    height: 80px;
    margin-top: 10px;
}


.ancient-Abhoth, .ancient-Antediluvium, .ancient-AtlachNacha, .ancient-Azathoth,
.ancient-Cthulthu, .ancient-Hastur, .ancient-Hypnos, .ancient-IogSothoth, .ancient-Ithaqua,
.ancient-NephrenKa, .ancient-Nyarlathotep,  .ancient-RiseOfTheElderThings, .ancient-ShubNiggurath,
.ancient-ShuddeMell, .ancient-Syzygy, .ancient-Yig {
    width: 65px;
    height: 80px;
}

.active-post {
    display: none;
    width: 0px;
}

.active {
    width: 320px;
    height: 475px;
}

.ancients-container{
    position: relative;
    top: 80px;
    height: 700px;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
}


.ancients-choice-flex {
    height: 450px;
    justify-content: flex-start;
    order: 2;
}

.ancients-choice1 {
    max-width: 310px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.ancients-choice2 {
    max-width: 310px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.button-change {
    height: 50px;
    margin-bottom: 10px;
}

.diff-container {
    min-width: 60px;
    height: 620px;
    order: 0;
    margin-left: 0px;
    font-size: 20px;
}


.card-container {
    margin-left: 0px;
    font-size: 20px;
}

.card-flex {
    max-width: 110px;
}

.card-forms {
    margin: 0px;
    height: 25px;
}

.card-full {
    position: relative;
    top: 90px;
    max-width: 280px;
    height: 1000px;
}

.button-change {
    position: relative;
    height: 50px;
    font-size: 20px;
    z-index: 10;
}

}